html,
body {
  margin: 0;
  height: 100%;
  display: grid;
  place-items: center;
  background: radial-gradient(#000, #020617);
  color: #eee;
  font-family: system-ui, sans-serif;
}
canvas {
  background: #000;
  border: 2px solid #222;
  image-rendering: pixelated;
}
